* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
}

pre {
  border-radius: 5px;
  background-color: #282c34;
  color: beige;
}

.FormContainer {
  margin-top: 50px;
}
